/**
 * Basic typography style for copy text
 */
body {
  color: $color-txt;
  font-family: $text-font-stack;
  font-size: $font-size-base;
  line-height: 1.5;
}

#app {
  font-size: $font-size-regular;
}

h4 {
  font-weight: normal;
}
