// -----------------------------------------------------------------------------
// Colors, imported at variables
// -----------------------------------------------------------------------------



/// Light grey
/// @type Color
$color-light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$color-mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$color-dark-grey: rgb(68, 68, 68) !default;

/// Very dark grey
/// @type Color
$color-very-dark-grey: rgb(33, 33, 33) !default;

/// White
/// @type Color
$color-white: rgb(255, 255, 255) !default;

/// Red
/// @type Color
$color-red: rgb(233, 0, 0) !default;

/// Background color
/// @type Color
$color-background: rgb(0, 0, 0) !default;


/// Main brand color
/// @type Color
$color-brand: $color-red !default;

/// Copy text color
/// @type Color
$color-txt: $color-mid-grey !default;



