// -----------------------------------------------------------------------------
// Colors, imported at variables
// -----------------------------------------------------------------------------


/// Main brand color
/// @type Color
$color-brand: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$color-light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$color-mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$color-dark-grey: rgb(68, 68, 68) !default;

/// Background color
/// @type Color
$color-background: rgb(0, 0, 0) !default;

/// Copy text color
/// @type Color
$color-txt: $color-mid-grey !default;



