// -----------------------------------------------------------------------------
// This file contains all styles related to general layout site/application.
// -----------------------------------------------------------------------------


body {
  padding: 1rem;
  text-align: center;
}

#app {
  margin-top: 2rem;
}
