// -----------------------------------------------------------------------------
// This file contains all styles related to general layout site/application.
// -----------------------------------------------------------------------------


body {
  padding: 1rem 1.5rem;
}

#app {
  max-width: 960px;
  margin: 0 auto ;
}

.appContent {
  margin-top: 1.5rem
}
